
#root{
    display: flex;
    justify-content: space-around;
    padding: 0 100px 0 100px;
}
@media (max-width: 750px){
    .Santa{
        margin-top: 25em;
        margin-bottom: 450px;
    }
    body{
        display: flex;
        justify-content: center;
    }
  
}

.Santa{
    margin-top: 40px;
    width: 40px;
    height:40px;
    background: black;
    box-shadow: 0 -40px gold,
                
                -40px 40px black,
                0px 40px green,
                40px 40px black,
      
                -40px 80px black,
                0px 80px red,
                40px 80px black,
      
                -80px 120px black,
                -40px 120px green,
                  0px 120px green,
                40px 120px green,
                80px 120px black,
      
                -80px 160px black,
                -40px 160px red,
                  0px 160px green,
                40px 160px green,
                80px 160px black,
      
                -120px 200px black,
                -80px 200px green,
                -40px 200px green,
                  0px 200px green,
                40px 200px red,
                80px 200px green,
                120px 200px black,
  
                -120px 240px black,
                -80px 240px red,
                -40px 240px green,
                  0px 240px green,
                40px 240px green,
                80px 240px green,
                120px 240px black,
  
                -160px 280px black,
                -120px 280px green,
                -80px 280px green,
                -40px 280px green,
                  0px 280px green,
                40px 280px green,
                80px 280px red,
                120px 280px green,
                160px 280px black,
  
                -120px 320px black,
                -80px 320px black,
                -40px 320px brown,
                  0px 320px brown,
                40px 320px brown,
                80px 320px black,
                120px 320px black,
  
                -40px 360px black,
                  0px 360px black,
                40px 360px black
                ;
  }


.Toad{
  height: 1em;
  width: 1em;
  background: black;
  box-shadow: 1em 0em black,
              2em 0 black,
    
              -2em 1em black,
              -1em 1em black,
              0em 1em red,
              1em 1em red,
              2em 1em red,
              3em 1em black,
              4em 1em black,
    
            -3em 2em black,
            -2em 2em red,
              -1em 2em red,
              0em 2em red,
              1em 2em red,
              2em 2em red,
              3em 2em red,
              4em 2em red,
              5em 2em black,
              6em 2em black,

              -5em 3em black,
              -4em 3em black,
              -3em 3em red,
            -2em 3em red,
              -1em 3em red,
              0em 3em red,
              1em 3em red,
              2em 3em red,
              3em 3em red,
              4em 3em red,
              5em 3em red,
              6em 3em red,
              7em 3em black,
    
              -6em 4em black,
              -5em 4em red,
              -4em 4em red,
              -3em 4em red,
            -2em 4em red,
              -1em 4em red,
              0em 4em red,
              1em 4em red,
              2em 4em red,
              3em 4em red,
              4em 4em red,
              5em 4em red,
              6em 4em red,
              7em 4em red,
              8em 4em black,
    
              -7em 5em black,
              -6em 5em red,
              -5em 5em red,
              -4em 5em red,
              -3em 5em red,
            -2em 5em red,
              -1em 5em red,
              0em 5em red,
              1em 5em red,
              2em 5em red,
              3em 5em red,
              4em 5em red,
              5em 5em red,
              6em 5em red,
              7em 5em red,
              8em 5em red,
              9em 5em black,
    
              -7em 6em black,
              -6em 6em red,
              -5em 6em red,
              -4em 6em red,
              -3em 6em red,
            -2em 6em red,
              -1em 6em red,
              0em 6em red,
              1em 6em red,
              2em 6em red,
              3em 6em red,
              4em 6em red,
              5em 6em red,
              6em 6em red,
              7em 6em red,
              8em 6em red,
              9em 6em black,

              -8em 7em black,
              -7em 7em red,
              -6em 7em red,
              -5em 7em red,
              -4em 7em red,
              -3em 7em red,
            -2em 7em red,
              -1em 7em red,
              0em 7em red,
              1em 7em red,
              2em 7em red,
              3em 7em red,
              4em 7em red,
              5em 7em red,
              6em 7em black,
              7em 7em red,
              8em 7em red,
              9em 7em red,
              10em 7em black,
    
              -8em 8em black,
              -7em 8em red,
              -6em 8em red,
              -5em 8em red,
              -4em 8em red,
              -3em 8em red,
            -2em 8em red,
              -1em 8em red,
              0em 8em red,
              1em 8em red,
              2em 8em red,
              3em 8em red,
              4em 8em red,
              5em 8em black,
              7em 8em black,
              8em 8em red,
              9em 8em red,
              10em 8em black,
    
              -8em 9em black,
              -7em 9em black,
              -6em 9em black,
              -5em 9em black,
              -4em 9em black,
              -3em 9em black,
            -2em 9em black,
              -1em 9em black,
              0em 9em black,
              1em 9em black,
              2em 9em black,
              3em 9em black,
              4em 9em black,
              5em 9em black,
              8em 9em black,
              9em 9em red,
              10em 9em black,
    
              -9em 10em black,
              6em 10em black,
              9em 10em black,
              10em 10em black,
    
              -9em 11em black,
              6em 11em black,
              8em 11em black,
              11em 11em black,
    
              -9em 12em black,
              6em 12em black,
              8em 12em black,
              11em 12em black,
    
              -9em 13em black,
              -4em 13em black,
              -3em 13em black,
              -2em 13em black,
              -1em 13em black,
              0em 13em black,
              1em 13em black,
              6em 13em black,
              9em 13em black,
              10em 13em black,
    
              -8em 14em black,
              -7em 14em black,
              -6em 14em black,
              -5em 14em black,
              -4em 14em #e1c699,
              -3em 14em black,
              -2em 14em #e1c699,
              -1em 14em #e1c699,
              0 14em black,
              1em 14em #e1c699,
              2em 14em black,
              3em 14em black,
              4em 14em black,
              5em 14em black,

              -7em 15em black,
              -6em 15em #e1c699,
              -5em 15em #e1c699,
              -4em 15em #e1c699,
              -3em 15em black,
              -2em 15em #e1c699,
              -1em 15em #e1c699,
              0 15em black,
              1em 15em #e1c699,
              2em 15em #e1c699,
              3em 15em #e1c699,
              4em 15em black,

              -7em 15em black,
              -6em 15em #e1c699,
              -5em 15em #e1c699,
              -4em 15em #e1c699,
              -3em 15em #e1c699,
              -2em 15em #e1c699,
              -1em 15em #e1c699,
              0 15em #e1c699,
              1em 15em #e1c699,
              2em 15em #e1c699,
              3em 15em #e1c699,
              4em 15em black,

              -7em 16em black,
              -6em 16em #e1c699,
              -5em 16em #e1c699,
              -4em 16em #e1c699,
              -3em 16em #e1c699,
              -2em 16em #e1c699,
              -1em 16em #e1c699,
              0 16em #e1c699,
              1em 16em #e1c699,
              2em 16em #e1c699,
              3em 16em #e1c699,
              4em 16em black,

    
              -6em 17em black,
              -5em 17em #e1c699,
              -4em 17em #e1c699,
              -3em 17em #e1c699,
              -2em 17em #e1c699,
              -1em 17em #e1c699,
              0 17em #e1c699,
              1em 17em #e1c699,
              2em 17em #e1c699,
              3em 17em black,

              -5em 18em black,
              -4em 18em black,
              -3em 18em black,
              -2em 18em black,
              -1em 18em black,
              0 18em black,
              1em 18em black,
              2em 18em black;
}



